.navbar {
    padding: 20px 5px 20px 5px;
}

.navbar .icon {
    display: none;
}

.navbar-item {
    list-style-type: none;
     margin: 0;
    padding: 0;
    overflow: auto;
}

.navbar-item li {
    float: left;
    margin-left: 30px;
}

.navbar-item li a {
    text-decoration: none;
    color: #445b97
}

#lang {
    border: 0
}
.contact-btn {
    color:#ee1e1e;
    border:1px solid #fafafa;
    background-color:#fafafa;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
}

.lang-btn-icon {
    margin-left: 10px;
} 
.mobile-bottom-nav-item {
    display: none;
}

footer {
    background-color: #0000c5a6;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.footer-brand {
    color: #ffffff;
    font-size: 14px;
    margin-top: 50px;
}

.footer-menu {
    list-style-type: none;
    overflow: auto;
    display: inline-block;
    margin-top: 50px;
}

.footer-menu li {
    float: left;
    margin-left: 30px;
}

.footer-menu a {
    text-decoration: none;
    color: #ffffff
}

.footer-copyright {
    font-size: 14px;
    margin-top: 30px;
    color: #ffffff
}

.footer-social-media {
    list-style-type: none;
    overflow: auto;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-social-media li:nth-child(1) {
    float: left;
}
.footer-social-media li:not(:first-child) {
    float: left;
    margin-left: 80px;
}
.footer-social-media li:nth-child(2) {
    margin-top: 5px;
}

@media screen and (max-width: 991px) {
   .navbar ul a {
        display: none;
   } 
   .right-nav-item {
        display: none;
    }
   .navbar a.icon {
        float: right;
        display: block;
    }
    .navbar.responsive .mobile-bottom-nav-item {
        display: inline-block;
    }
    #lang {
        display:block;
        margin-bottom: 13px;
    }
    .contact-btn {
        margin-top: 10px;
        background-color:#ffffff;
    }
    .navbar.responsive .navbar-item a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .right-nav-item-grid {
        position: absolute;
    }
    .navbar.responsive .navbar-item {
        position: absolute;
        background-color: #f7f7f7;
        width: 100%;
        margin-top: 15px;
    }
    .navbar.responsive .navbar-item{
        padding-top:10px;
        padding-bottom:10px;
        border-radius: 10px;
    }
    .navbar.responsive .navbar-item li {
        float: none;
        padding: 8px 5px 8px 5px;
    }
    .navbar.responsive .navbar-item a {
        float:none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        margin-left: 15px;
    }
    .navbar a.icon {
        margin-right: 22px;
    }
    .footer-menu {
        padding-left: 0;
    }
    .footer-menu li {
        float: none;
        margin-left: 0px;
        margin-bottom: 23px;
    }
    .footer-social-media {
        padding-left: 0;
    }
    .footer-social-media li {
        margin-left: 40px;
    }
}