.navbar-container {
    position: relative;
}
.navbar {
    padding: 20px 5px 20px 5px;
    position: absolute;
}

.navbar .icon {
    display: none;
}

.navbar-item {
    list-style-type: none;
     margin: 0;
    padding: 0;
    overflow: auto;
}

.navbar-item li {
    float: left;
    margin-left: 30px;
}

.navbar-item li a {
    text-decoration: none;
    color: #445b97
}

#lang {
    border: 0
}
.contact-btn {
    color:#ee1e1e;
    border:1px solid #fafafa;
    background-color:#fafafa;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
}

.lang-btn-icon {
    margin-left: 10px;
} 
.mobile-bottom-nav-item {
    display: none;
}

footer {
    background-color: #0000c5a6;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.footer-brand {
    color: #ffffff;
    font-size: 14px;
    margin-top: 50px;
}

.footer-menu {
    list-style-type: none;
    overflow: auto;
    display: inline-block;
    margin-top: 50px;
}

.footer-menu li {
    float: left;
    margin-left: 30px;
}

.footer-menu a {
    text-decoration: none;
    color: #ffffff
}

.footer-copyright {
    font-size: 14px;
    margin-top: 30px;
    color: #ffffff
}

.footer-social-media {
    list-style-type: none;
    overflow: auto;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-social-media li:nth-child(1) {
    float: left;
}
.footer-social-media li:not(:first-child) {
    float: left;
    margin-left: 80px;
}
.footer-social-media li:nth-child(2) {
    margin-top: 5px;
}

.first-section-top-title {
    font-size: 32px;
    color:#445b97;
    margin-top: 40px;
    font-weight: 600;
}
.first-section-top-title p:nth-child(1){
    margin-bottom: 0;
}
.first-section-mid-explain {
    font-size: 12px;
    color:#445b97;
    margin-top: 30px;
}
.first-section-mid-explain p:nth-child(1){
    margin-bottom: 0;
}
.first-section-bottom-btn {
    margin-top: 40px;
    margin-bottom: 40px;
}
.first-section-more-btn {
    background-color: #ff5e5e;
    color: #ffffff;
    border: 1px solid #ff5e5e;
    border-radius: 20px;
    font-size: 12px;
    padding: 8px 25px 8px 25px;
}
.first-section-get-btn {
    background-color: #ffffff;
    color: #445b97;
    border: 0;
    font-size: 12px;
    padding: 8px 25px 8px 25px;
}
.first-section {
    background-image: url('../img/first-shape-shadow.png');
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    background-position: right;
    padding: 160px 0px 50px 0px;
}
.first-section-image-grid {
    text-align: end;
}
.first-section-image {
    width: 300px;
}

.second-section {
    background-image: url('../img/second-section-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    padding: 64px 101px 130px 88px; 
}

.second-section-title {
    font-size: 32px;
    font-weight: 500;
    color: #445b97;
    width: 240px;
}

.second-section-get-btn {
    background-color: #ff5e5e;
    color: #ffffff;
    border: 1px solid #ff5e5e;
    border-radius: 20px;
    font-size: 12px;
    padding: 8px 25px 8px 25px;
}

.second-section-card {
    height: 350px;
    min-width: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    border-radius: 16px;
    overflow: hidden;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.second-section-card:nth-child(1){
    margin-left: 35px;
}

.second-section-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
}
.card-content article {
    color: #445b97;
}

.card-content article h4 {
    width: 160px;
    line-height: 35px;
    margin-bottom: 20px;
}

.card-content article p {
    font-size: 12px;
    line-height: 25px;
}

.third-section-image {
    width: 400px;
}
.third-section-image-grid {
    text-align: start;
    display: flex;
    position: relative;
    right: 58px;
}
.third-section-top-title p {
    font-size: 22px;
    color: #ff5e5e;
    font-weight: 500;
}
.third-section-mid-content article h1 {
    color: #445b97;
    width: 300px;
}
.third-section-mid-content article p {
    font-size: 12px;
    line-height: 20px;
    color: #6e6e70;
    margin-bottom: 2px;
}
.third-section-bottom-icon {
    margin-top: 20px;
    margin-bottom: 20px;
}
.third-section-bottom-icon i {
    font-size: 20px;
    margin-right: 10px;
}
.third-section-bottom-icon i:nth-child(1) {
    color: #a1a7b6;
    
}
.third-section-bottom-icon i:nth-child(2) {
    color: #445b97;
    padding-right: 10px;
}

.fourth-section {
    background-image: url('../img/fourth-section-bg.png');
    background-repeat: no-repeat;
    background-size: 48% 99%;
    background-position: left;
    padding: 64px 101px 200px 88px; 
    margin-top: 50px;
}

.fourth-top-title {
    font-size: 32px;
    color: #445b97;
}

.fourth-section-top-icon {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: end;
}
.fourth-section-top-icon i {
    font-size: 20px;
    margin-right: 10px;
}
.fourth-section-top-icon i:nth-child(1) {
    color: #a1a7b6;
    
}
.fourth-section-top-icon i:nth-child(2) {
    color: #445b97;
    padding-right: 10px;
}
.fourth-section-card {
    height: 350px;
    min-width: 0;
    background-color: #6d6d6d87;
    overflow: hidden;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.fourth-section-card-bottom-title {
    text-align: center;
    color: #ff5e5e;
    font-weight: 600;
    margin-top: 25px;
}

.fifth-section {
    background-image: url('../img/fifth-section-bg.png');
    background-repeat: no-repeat;
    background-size: 22% 100%;
    background-position: right;
    padding: 0px 160px 200px 88px; 
   
}

.fifth-section-left-title h3 {
    color: #445b97;
    margin-bottom: 50px;
}
.fifth-section-left-title p {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ff5e5e;
}

.fifth-section-top-icon {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: end;
}
.fifth-section-top-icon i {
    font-size: 20px;
    margin-right: 10px;
}
.fifth-section-top-icon i:nth-child(1) {
    color: #a1a7b6;
}
.fifth-section-top-icon i:nth-child(2) {
    color: #445b97;
    padding-right: 10px;
}
.fifth-section-card {
    height: auto;
    min-width: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.fifth-card-content article h6 {
    color: #445b97;
    margin-bottom: 17px;
}

.fifth-card-content article p:nth-child(3) {
    color: #445b97;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}
.fifth-card-content article p:nth-child(2) {
    color: #a1a7b6;
    font-size: 12px;
}
.fith-card-footer {
    text-align: end;
    font-size: 24px;
    margin-top: 30px;
}

#fifth-section-first-card{
    background-color:red;  
    color: #ffffff 
}
#fifth-section-first-card-content article h6,
#fifth-section-first-card-content article p 
{
    color: #ffffff
}

@media screen and (max-width: 991px) {
   .navbar ul a {
        display: none;
   } 
   .right-nav-item {
        display: none;
    }
   .navbar a.icon {
        float: right;
        display: block;
    }
    .navbar.responsive .mobile-bottom-nav-item {
        display: inline-block;
    }
    #lang {
        display:block;
        margin-bottom: 13px;
    }
    .contact-btn {
        margin-top: 10px;
        background-color:#ffffff;
    }
    .navbar.responsive .navbar-item a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .right-nav-item-grid {
        position: absolute;
    }
    .navbar.responsive .navbar-item {
        position: absolute;
        background-color: #f7f7f7;
        width: 100%;
        margin-top: 15px;
    }
    .navbar.responsive .navbar-item{
        padding-top:10px;
        padding-bottom:10px;
        border-radius: 10px;
    }
    .navbar.responsive .navbar-item li {
        float: none;
        padding: 8px 5px 8px 5px;
    }
    .navbar.responsive .navbar-item a {
        float:none;
        display: block;
        text-align: left;
    }
    .first-section-image {
        width: 350px;
    }
    .first-section-image-grid {
        text-align: center;
    }
    .first-section-top-title,
    .first-section-mid-explain,
    .first-section-bottom-btn
    {
        text-align: center;
    }
    .second-section {
        padding: 64px 0px 150px 0px
    }
    .second-section-card {
        height: 300px;
    }
    .second-section-card:nth-child(1) {
        margin-left: 0;
    }
    .second-section-title {
        margin-top: 40px;
        font-size: 26px;
        text-align: center;
        width: 100%;
    }
    .second-section-btn {
        text-align: center;
        margin-bottom: 40px;
    }
    .second-section-card {
        margin-bottom: 40px;
    }
    .third-section-image {
        width: 350px;
    }
    .third-section-image-grid {
        text-align: center;
        display: block;
        right: 0;
        margin-bottom: 65px;
    }
    .third-section-mid-content article h1 {
        width: 100%;
    }
    .fourth-section {
        padding: 19px 20px 104px 20px; 
    }
    .fifth-section {
        padding: 153px 15px 100px 15px;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        margin-left: 15px;
    }
    .navbar a.icon {
        margin-right: 22px;
    }
    .footer-menu {
        padding-left: 0;
    }
    .footer-menu li {
        float: none;
        margin-left: 0px;
        margin-bottom: 23px;
    }
    .footer-social-media {
        padding-left: 0;
    }
    .footer-social-media li {
        margin-left: 40px;
    }
    .second-section {
        padding: 64px 0px 0px 0px;
    }
    .second-section-card{
        height: auto;
        width: 100%;
    }
    .fourth-section {
        padding: 19px 10px 104px 10px; 
    }
    .fifth-section {
        padding: 0px 15px 100px 15px;
    }
}