.sample-nav {
    height: 50px;
    width: 100%;
    position: relative;
}
  
.sample-nav > .nav-header {
    display: inline;
}
  
.sample-nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    margin: 40px 50px 10px 80px;
    float: inline-start;
}

.nav-title img {
    width: 50px;
}

.sample-nav > .nav-btn {
    display: none;
}
  
.sample-nav > .nav-links {
    display: inline;
    float: inline-start;
    font-size: 12px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 60px;
}
  
.sample-nav > .nav-links > a {
    display: inline-block;
    padding: 0px 10px 13px 10px;
    text-decoration: none;
    color: #2E4385
}
  
.sample-nav > .nav-links > a:hover {
    color: #ff5e5e;
}

.right-nav-item {
    float: right;
    margin-top: 40px;
    margin-right: 12%;
}

#lang {
    border: 0;
    margin-right: 40px;
    font-size: 13px;
}
.lang-btn-icon {
    margin-left: 10px !important;
} 

.contact-btn {
    color:#ee1e1e;
    border:1px solid #fafafa;
    background-color:#fafafa;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    padding: 4px 25px 4px 25px
}

.contact-btn-content {
    display: inline-flex;
}

.contact-btn p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0 !important;
    margin-top: 6px;
}
.contact-btn i {
    font-size: 24px;
}
  
.sample-nav > #nav-check {
    display: none;
}


.mobile-bottom-nav-lang-item, 
.mobile-bottom-nav-contact-btn-item
{
    display: none;
}
  
footer {
    background-color: #0000c5a6;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.footer-brand {
    color: #ffffff;
    font-size: 14px;
    margin-top: 50px;
}

.footer-menu {
    list-style-type: none;
    overflow: auto;
    display: inline-block;
    margin-top: 50px;
}

.footer-menu li {
    float: left;
    margin-left: 30px;
}

.footer-menu a {
    text-decoration: none;
    color: #ffffff
}

.footer-copyright {
    font-size: 14px;
    margin-top: 30px;
    color: #ffffff
}

.footer-social-media {
    list-style-type: none;
    overflow: auto;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-social-media li:nth-child(1) {
    float: left;
}
.footer-social-media li:not(:first-child) {
    float: left;
    margin-left: 80px;
}
.footer-social-media li:nth-child(2) {
    margin-top: 5px;
}

.about-section-top-title {
    margin-top: 40px;
}
.about-section-top-title p{
    margin-bottom: 0;
    font-size: 57px;
    color:#2E4385;
    font-weight: 600;
    width:400px;
    line-height: 74px;
}
.about-section-mid-explain {
    margin-top: 30px;
}
.about-section-mid-explain p{
    font-size: 14px;
    color: #70787D;
    width: 430px;
}
.about-section-bottom-btn {
    margin-top: 40px;
    margin-bottom: 40px;
}
.about-section-more-btn {
    background-color: #ff5e5e;
    color: #ffffff;
    border: 1px solid #ff5e5e;
    border-radius: 20px;
    font-size: 13px;
    padding: 8px 25px;
}
.about-section-get-btn {
    background-color: #ffffff;
    color: #2E4385;
    border: 0;
    font-size: 13px;
    font-weight: 600;
    margin-left: 8px;
    padding: 8px 25px;
}
.about-section {
    background-image: url('../img/first-shape-shadow.png');
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    background-position: right;
    padding: 160px 0px 50px 0px;
}
.about-section-image-grid {
    text-align: end;
}
.about-section-image {
    width: 520px;
}

.about-card-section {
    background-image: url('../img/second-section-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    padding: 100px 75px 150px 75px;
}

.about-card-section-title {
   margin-bottom: 30px;
}
.about-card-section-title p {
    font-size: 35px;
    font-weight: 500;
    color: #445b97;
    width: 287px;
    line-height: 52px;
}

.about-card-section-get-btn {
    background-color: #ff5e5e;
    color: #ffffff;
    border: 1px solid #ff5e5e;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 26px 8px 26px;
}

.about-card-section-cards {
    display: flex;
}

.about-card-section-card {
    display: flex;
    align-items: stretch;
    width: 260px;
    min-width: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    padding: 30px 30px 40px 30px;
    position: relative;
    flex-direction: column;
}

.about-card-section-right-img {
    width: 50px;
    height: 40px;
    margin-bottom: 40px;
}
.about-card-section-left-img {
    width: 43px;
    height: 40px;
    margin-bottom: 40px;
}

.card-content article {
    color: #445b97;
}

.card-content article h5 {
    width: 160px;
    line-height: 30px;
    margin-bottom: 20px;
}

.card-content article p {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 0;
}

.slider-section-image {
    width: 460px;
    object-fit: contain;
}
.slider-section-image-grid {
    text-align: start;
    display: flex;
    position: relative;
    right: 58px;
}
.slider-section-top-title p {
    font-size: 12px;
    color: #ff5e5e;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 5px;
}
.slider-section-mid-content article h2 {
    color: #2E4385;
    width: 240px;
    margin-bottom: 40px;
}
.slider-section-mid-content article p {
    font-size: 13px;
    line-height: 23px;
    color: #6e6e70;
    margin-bottom: 2px;
    width: 370px;
}
.slider-section-bottom-icon {
    margin-top: 30px;
    margin-bottom: 20px;
}
.slider-section-bottom-icon i {
    font-size: 20px;
    margin-right: 10px;
}
.slider-section-bottom-icon i:nth-child(1) {
    color: #a1a7b6;
    
}
.slider-section-bottom-icon i:nth-child(2) {
    color: #445b97;
    padding-right: 10px;
}

.cards-section {
    background-image: url('../img/fourth-section-bg.png');
    background-repeat: no-repeat;
    background-size: 48% 99%;
    background-position: left;
    padding: 64px 0px 120px 0px; 
    margin-top: 50px;
}
.cards-section-top-content {
    display: flex;
    margin-bottom: 50px
}
.cards-top-title {
    font-size: 34px;
    font-weight: 600;
    color: #445b97;
    width: 350px;
}

.cards-section-top-icon {
    margin-top: 10.7%;
    margin-bottom: 20px;
    text-align: end;
}
.cards-section-top-icon i {
    font-size: 24px;
}
.cards-section-top-icon i:nth-child(1) {
    color: #a1a7b6;
}
.cards-section-top-icon i:nth-child(2) {
    color: #445b97;
    padding-left: 15px;
}
.cards-section-card {
    height: 350px;
    display:flex;
    align-items:stretch;
    min-width: 0;
    background-color: #6d6d6d87;
    overflow: hidden;
    padding: 30px;
    position: relative;
    flex-direction: column;
    margin-bottom: 24px;
}
.cards-section-card-bottom-title {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ff5e5e;
    font-weight: 600;
    font-size: 14px;
    margin-top: 25px;
}

.blogs-section {
    background-image: url('../img/fifth-section-bg.png');
    background-repeat: no-repeat;
    background-size: 22% 100%;
    background-position: right;
    padding-bottom:100px;
}
.blogs-section-left-title {
    margin-left: 10px;
}
.blogs-section-left-title h2 {
    color: #445b97;
    margin-bottom: 50px;
    font-weight: 600;
}
.blogs-section-left-title p {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ff5e5e;
}

.blogs-section-top-icon {
    margin-top: 45px;
    margin-bottom: 20px;
    text-align: end;
}
.blogs-section-top-icon i {
    font-size: 24px;
}
.blogs-section-top-icon i:nth-child(1) {
    color: #a1a7b6;
    margin-right: 10px;
}
.blogs-section-top-icon i:nth-child(2) {
    color: #445b97;
}
.blogs-section-card {
    height: auto;
    min-width: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    padding:  50px 25px 30px 30px;
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin-bottom: 25px;
}


.blogs-section-card:hover {
    background-color:#FD3644;  
}

.blogs-section-card:hover .blogs-card-content article p {
    color:#fff
}

.blogs-section-card:hover .blogs-section-card-footer i {
    color:#fff
}

.blogs-card-content article:hover {
    color:#fff;
}

.blogs-card-content article p:first-child {
    color: #445b97;
    font-size: 15px;
    margin-bottom: 12px;
    font-weight: 500;
}

.blogs-card-content article p:nth-child(3) {
    color: #445b97;
    font-weight: 300;
    font-size: 14px;
    margin-top: 30px;
}
.blogs-card-content article p:nth-child(2) {
    color: #a1a7b6;
    font-size: 12px;
}
.blogs-section-card-footer {
    margin-top: 30px;
    text-align: end;
}
.blogs-section-card-footer i {
    font-size: 24px;
    color: #FD3644;
}

.contacts-article {
    margin-left: 10px;
    margin-bottom: 40px;
}

.contacts-article h1 {
    color: #445b97;
    margin-bottom: 17px;
    font-weight: 600;
}

.contacts-article p {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ff5e5e;
    margin-bottom: 14px
}

.sample-inputs {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #445b97;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #e6edfb;
    background-clip: padding-box;
    border: 1px solid #ffffff;
    border-radius: 0.375rem;
    margin-bottom: 30px;
    padding: 15px 10px 20px 20px
}
.sample-inputs::placeholder{
    color:#445b97;
    font-weight: 500;
}
.contacts-section-btn-div {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.contacts-section-btn {
    background-color: #ff2c2c;
    color: #ffffff;
    border: 1px solid #ff2c2c;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px 10px 30px;
}

@media screen and (max-width: 991px) {
    .right-nav-item {
        display: none;
    }
    .sample-nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 18px;
        top: 0px;
    }
    .sample-nav > .nav-header > .nav-title {
        margin: 5px 20px;
    }
    .sample-nav > .nav-btn > label {
        display: inline-block;
        width: 46px;
        height: 41px;
        padding: 12px;
        margin-top: 4px;
        border: 1px solid #635d5d;
    }
    .sample-nav > .nav-btn > label:hover, .sample-nav  #nav-check:checked ~ .nav-btn > label {
        background-color: #dbdbdb
       
    }
    .sample-nav > .nav-btn > label > span {
        display: block;
        width: 21px;
        height: 7px;
        border-top: 2px solid #635d5d;
    }
    .sample-nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #f7f7f7;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        font-size: 12px;
        font-weight: 600;
        margin-top: 0px;
        margin-left: 0px;
    }
    .sample-nav > .nav-links > a {
        display: block;
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding: 0px 10px 35px 10px;
    }
    .sample-nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .sample-nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
        padding-top: 43px;
        padding-left: 12px;
    }

    .mobile-bottom-nav-lang-item, 
    .mobile-bottom-nav-contact-btn-item
    {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 35px;
    }
    .mobile-bottom-nav-lang-item #lang {
        margin-right: 0;
        padding: 8px;
        font-size: 16px
    }
    
    .about-section-image {
        width: 100%;
    }
    .about-section {
        padding: 30px 20px 50px 20px;
    }
    .about-section-image-grid {
        text-align: center;
    }
    .about-section-get-btn {
        background-color: #ffffff;
        color: #445b97;
        border: 1px solid #ffffff;
        border-radius: 20px;
        font-size: 12px;
        padding: 8px 25px;
    }
    .about-section-top-title,
    .about-section-mid-explain,
    .about-section-bottom-btn
    {
        text-align: center;
    }
    .about-section-top-title p,
    .about-section-mid-explain p
    {
        width: auto;
        text-align: left;
    }
    .about-section-top-title p{
        font-size: 43px;
        line-height: 57px;
    }
    .about-section-get-btn {
        margin-left: 23px;
    }
    .about-section-more-btn {
        font-size: 12px;
    }

    .about-card-section {
        padding: 64px 25px 70px 25px
    }
    .about-card-section-card {
        width: 100%;
        margin-left: 0px !important;
        margin-bottom: 30px;
    }
    
    .about-card-section-title {
        margin-top: 40px;
    }
    .about-card-section-title p {
        font-size: 30px;
        text-align: center;
        line-height: 47px;
        width: 100%;
    }
    .about-card-section-btn {
        text-align: center;
        margin-bottom: 70px;
    }
    .cards-section-top-content {
        display: inline-block;
        margin-bottom: 15px;
    }
    .cards-top-title {
        width: auto;
        font-size: 29px;
    }
    .cards-section-top-icon {
        margin-top: 3.7%;
    }
    .slider-section {
        padding-right: 25px;
        padding-left: 25px;
    }
    .slider-section-image {
        width: 100%;
    }
    .slider-section-image-grid {
        text-align: center;
        display: block;
        right: 0;
        margin-bottom: 65px;
        margin-top: 50px;
    }
    .slider-section-mid-content article h1 {
        width: 100%;
    }
    .slider-section-mid-content article p{
        width: auto;
    }
    .cards-section {
        padding: 19px 20px 0px 20px; 
    }
    .blogs-section {
        padding: 77px 20px 100px 20px;
    }
    .blogs-section-left-title {
        margin-left: 0;
    }
    .blogs-section-left-title h2 {
        margin-bottom: 8px;
    }
    .blogs-section-left-title p {
        width: 100%;
        margin-bottom: 2px;
    }
    .blogs-section-top-icon{
        margin-top: 10px;
    }
    .blogs-section-left-title h3 {
        margin-bottom: 0;
    }
    .contacts-article {
        margin-left: 0px;
    }
    .contacts-section article p {
        width: 100%;
        text-align: start;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        margin-left: 15px;
    }
    .navbar a.icon {
        margin-right: 22px;
    }
    .footer-menu {
        padding-left: 0;
    }
    .footer-menu li {
        float: none;
        margin-left: 0px;
        margin-bottom: 23px;
    }
    .footer-social-media {
        padding-left: 0;
    }
    .footer-social-media li {
        margin-left: 40px;
    }
    .about-card-section-card{
        height: auto;
        width: 100%;
    }
}